:root{

}


section{
    padding: 2rem 0;
}

form > *:not(:last-child){
    width: 100%;
    margin-bottom: 1rem;
}

/* --------------
    media queries
----------------- */

/* Tablet - MD */
@media screen and (min-width: 768px){

}

/* Desktop -  LG*/
@media screen and (min-width: 992px){
    
}