:root{
    --bs-primary: #1abc9c;
    --bs-secondary: #2c3e50;
    --bs-success: #3a546d;
    --bs-primary-rgb: 26, 188, 156;
    --bs-secondary-rgb: 44, 62, 80;
    --bs-success-rgb: 58, 84, 109;
}

section{
    padding: 2rem 0;
}

.star_spacer{
    max-width: 25%;
    background-color: brown;
    margin: auto;
}

.img_avatar{
    width: 50%;
    margin: auto;
}

form > *:not(:last-child){
    width: 100%;
    margin-bottom: 1rem;
}

/* --------------
    media queries
----------------- */

/* Tablet - MD */
@media screen and (min-width: 768px){
    .img_avatar{
        width: 30%;
    }
}

/* Desktop -  LG*/
@media screen and (min-width: 992px){
    
}